body {
    font-family: arial, sans-serif;
    /*padding: 20px;*/
    background: #f6f6f6;
}

p {
	margin: 0 0 1em 0;
}

#canvas-div {
    position: relative;
    top: 36px;
    background-color: #A0A0A0;
    border: 1px solid #808080;
    /*bottom: 40px;*/
    left: 80px;
    /*overflow: auto;*/
    position: absolute;
    right: 14px;
    text-align: center;
    /*top: 40px;*/
}

#canvasAll,
#canvasTool {
    /*margin:.5em 0 .25em 0;*/
    border:1px solid #ccc;
    background: #fff;
}

#canvasTool { 
    position: absolute; 
    top: 40px; 
    left: 80px;
}

.container {
    width: 600px;
}

#undo-commands {
    line-height: 26px;
    border-bottom: medium none;
    height: 36px;
    left: 90px;
    overflow: auto;
    position: absolute;
    right: 2px;
    top: 2px;
}

#shape-commands {
    background: none repeat scroll 0 0;
    border-right: medium none;
    left: 1px;
    margin-top: -2px;
    padding-left: 2px;
    position: absolute;
    top: 40px;
    width: 76px;
    z-index: 4;
}

#bottom-area {
    left: 80px;

    bottom: 0;
    height: 40px;

    overflow: visible;
    position: absolute;
    right: 0;
}

label {
    font-size: smaller;
}

#widthSpinner {
    font-size: smaller;
}
